<header>
  <!--Top Header Section-->
 <app-topheader></app-topheader>
  <!--End Top Header Section-->

  <!--Navigation-->
  <nav class="navbar navbar-default tv-navbar-custom">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="navbar-header">
                      <!--                                <a href="home.html" class="navbar-brand tv-bakeat-logo"><span>Bakeat</span>Hunt</a>-->
                      <a href="home.html"><img src="./assets/images/logo.png"></a>
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tv-navbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                  <div class="collapse navbar-collapse" id="tv-navbar">
                      <ul class="nav navbar-nav text-center">
                          <li class="tv-drop-menu">
                              <a data-toggle="dropdown" aria-expanded="false" class="tv-menu">Home<i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu tv-sub-menu">
                                  <li class="dropdown-submenu Navigation-listItem is-dropdown ">
                                      <a href="eatryclassic.html">Eatry Classic</a>
                                      <a href="eatryparallax.html">Eatry Parallax</a>
                                  </li>
                              </ul>
                          </li>
                          <li class=""><a href="menu.html" class="tv-menu">Our Menu</a></li>
                          <li class="tv-drop-menu">
                              <a data-toggle="dropdown" aria-expanded="false" class="tv-menu">Reservation<i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu tv-sub-menu">
                                  <li class="dropdown-submenu Navigation-listItem is-dropdown ">
                                      <a href="reservation.html">Book A Table</a>
                                  </li>
                              </ul>
                          </li>
                          <li class=""><a href="ourservice.html" class="tv-menu">Our Services</a></li>
                          <li class="tv-drop-menu">
                              <a data-toggle="dropdown" aria-expanded="false" class="tv-menu">Pages<i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu tv-sub-menu">
                                  <li class="dropdown-submenu Navigation-listItem is-dropdown ">
                                      <a href="aboutus.html">About Us</a>
                                      <a href="whoweare.html">Who We Are</a>
                                  </li>
                              </ul>
                          </li>
                          <li class=""><a href="contactus.html" class="tv-menu">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </nav>
  <!--End Navigation-->

  <!--Banner Section-->
  <div class="tv-banner-image" style="background: rgba(0, 0, 0, 0) url('./assets/images/Image46.jpg') no-repeat scroll center top / cover;">
      <div class="tv-opacity-medium tv-bg-black"></div>
      <div class="tv-banner-info">
          <h2>Best Food & Quality</h2>
          <h1>Best Eatry</h1>
          <p>Established in 1991</p>
      </div>
  </div>
  <!--End Banner Section-->
</header>